<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@calvin.humber.ca:1521:grok</property>
        <property name="hibernate.connection.username">oscars</property>
        <property name="hibernate.connection.password">Ite5220</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle12cDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Entity classes -->
        <mapping class="com.oscars.vehiclemaintenancesystem.entity.Customer"/>
        <mapping class="com.oscars.vehiclemaintenancesystem.entity.Vehicle"/>
        <mapping class="com.oscars.vehiclemaintenancesystem.entity.ServiceCategory"/>
        <mapping class="com.oscars.vehiclemaintenancesystem.entity.Service"/>
        <mapping class="com.oscars.vehiclemaintenancesystem.entity.ServicePackage"/>
        <mapping class="com.oscars.vehiclemaintenancesystem.entity.ServicePackageDetail"/>
        <mapping class="com.oscars.vehiclemaintenancesystem.entity.Appointment"/>
        <mapping class="com.oscars.vehiclemaintenancesystem.entity.Payment"/>
        <mapping class="com.oscars.vehiclemaintenancesystem.entity.Inventory"/>
        <mapping class="com.oscars.vehiclemaintenancesystem.entity.Role"/>
        <mapping class="com.oscars.vehiclemaintenancesystem.entity.User"/>
        <mapping class="com.oscars.vehiclemaintenancesystem.entity.Notification"/>
        <mapping class="com.oscars.vehiclemaintenancesystem.entity.AuditLog"/>
        <mapping class="com.oscars.vehiclemaintenancesystem.entity.ErrorLog"/>
    </session-factory>
</hibernate-configuration>