<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@calvin.humber.ca:1521:grok</property>
        <property name="hibernate.connection.username">oscars</property>
        <property name="hibernate.connection.password">Ite5220</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle12cDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">validate</property>

        <!-- Entity classes -->
        <property name="hibernate.archive.autodetection">class</property>
        <mapping class="com.oscars.vehiclemaintenancesystem.model.User"/>
        <mapping class="com.oscars.vehiclemaintenancesystem.model.AuditLog"/>
        <mapping class="com.oscars.vehiclemaintenancesystem.model.Customer"/>
        <mapping class="com.oscars.vehiclemaintenancesystem.model.Vehicle"/>
        <mapping class="com.oscars.vehiclemaintenancesystem.model.Service"/>
        <mapping class="com.oscars.vehiclemaintenancesystem.model.ServicePackage"/>
        <!-- <mapping class="com.oscars.vehiclemaintenancesystem.model.ServicePackageDetail"/> -->
        <mapping class="com.oscars.vehiclemaintenancesystem.model.Appointment"/>
        <mapping class="com.oscars.vehiclemaintenancesystem.model.Payment"/>
        <mapping class="com.oscars.vehiclemaintenancesystem.model.InventoryItem"/>
        <mapping class="com.oscars.vehiclemaintenancesystem.model.Role"/>
        <mapping class="com.oscars.vehiclemaintenancesystem.model.Mechanic"/>
    </session-factory>
</hibernate-configuration>